version: 2.1

references:
  container_config: &container_config
    docker:
      - image: circleci/php:7.3
        environment: 
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: lvbbs
          DB_USERNAME: laravel
          DB_PASSWORD: lvlaravel
      - image: circleci/mysql:latest-ram
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_ROOT_PASSWORD: jfiasdfe
          MYSQL_DATABASE: lvbbs
          MYSQL_USER: laravel
          MYSQL_PASSWORD: lvlaravel

commands:
  composer_install: 
    steps:
      - restore_cache:
          keys: v1-composer-{{ checksum "app/composer.json" }}
      - run:
          name: composer install
          command: |
            composer global require hirak/prestissimo
            composer install -n --prefer-dist 
          working_directory: app/
      - save_cache:
          key: composer-v1-{{ checksum "app/composer.lock" }}
          paths:
            - app/vendor

jobs:
  build:
    <<: *container_config
    working_directory: ~/workspace
    steps:
      - checkout
      # build environments
      - run:
          name: install middleware
          command: |
            sudo apt-get update
            sudo apt-get upgrade -y
            sudo apt-get install -y --no-install-recommends libzip-dev unzip libzip4
            sudo docker-php-ext-configure zip --with-libzip
            sudo docker-php-ext-install zip
            sudo docker-php-ext-install pdo_mysql
      - composer_install
      - run: 
          working_directory: app/
          command: composer dump-autoload
      - run: cp app/.env.example app/.env
      - run: 
          working_directory: app/
          command: php artisan key:generate
      - run: 
          working_directory: app/
          command: php artisan migrate --seed
      - run: 
          name: phpunit
          working_directory: app/
          command: ./vendor/bin/phpunit

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
