version: 2.1

jobs:
  build:
    docker:
      - image: circleci/php:7.3
        environment: 
          DB_CONNECTION: mysql
          DB_HOST: mysql
          DB_PORT: 3306
          DB_DATABASE: lvbbs
          DB_USERNAME: laravel
          DB_PASSWORD: lvlaravel
      - image: circleci/mysql:latest-ram
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_ROOT_PASSWORD: jfiasdfe
          MYSQL_DATABASE: lvbbs
          MYSQL_USER: laravel
          MYSQL_PASSWORD: lvlaravel
    working_directory: ~/project
    steps:
      - checkout
      # build environments
      - run:
          name: install middleware
          command: >
            apt-get update &&
            apt-get upgrade -y &&
            apt-get install -y --no-install-recommends libzip-dev unzip libzip4 &&
            docker-php-ext-configure zip --with-libzip &&
            docker-php-ext-install zip &&
            docker-php-ext-install pdo_mysql &&

      # install dependency

      - restore_cache:
          keys: v1-composer-{{ checksum "app/composer.json" }}
      - run:
          command: composer install -n --prefer-dist
          working_directory: app/
      - save_cache:
          key: composer-v1-{{ checksum "app/composer.lock" }}
          paths:
            - app/vendor
      - run: cp app/.env.example app/.env
      - run: 
          command: php artisan key:generate
          working_directory: app/
      - run: 
          command: php artisan migrate --seed
          working_directory: app/

        
  test:
    docker:
      - image: php/7.3
    working_directory: ~/project
    steps:
      - checkout

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
